In [ ]:
import pandas as pd
import sqldf

df = pd.read_csv('./data/vgsales.csv')

query_1 = """
SELECT *
FROM df
WHERE Platform = 'NES';
"""

df_1 = sqldf.run(query_1)
df_1

In [ ]:
query_2 = """
SELECT SUM(JP_Sales)
FROM df;
"""

df_2 = sqldf.run(query_2)
df_2

In [ ]:
query_3 = """
SELECT COUNT(*)
FROM df
WHERE Year >= 2008;
"""

df_3 = sqldf.run(query_3)
df_3

In [6]:
query_4_1 = """
SELECT COUNT(*)
FROM df
WHERE Platform = 'Wii';
"""

query_4_2 = """
SELECT COUNT(*)
FROM df;
"""

wii_games_count = sqldf.run(query_4_1)
all_games_count = sqldf.run(query_4_2)

print(round((wii_games_count / all_games_count) * 100, 2))

   COUNT(*)
0   7.98289